.jumbotron{
    height:500px;
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ),
    /* bottom, image */
    url(../img/sunrise-camping.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

h1, h2, h3{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Bree Serif', serif;
} 

.reserve-login-section .rs-block{
    padding:50px;
    height: 300px;
    color: white;
}

.reserve-btm{
    background-image:url(../img/camping-reserve.jpg);
}

.login-btm{
    background-image:url(../img/camping-login.jpg);
}

.reserve-btm, .login-btm{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    /* transition: all .2s ease-in-out; */
}

.reserve-btm:hover, .login-btm:hover{
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02); 
    transform: scale(1.02); 
    z-index:2;
}



@media (max-width: 575.98px) {
    .jumbotron{
        height:300px;
    }
} 